<div class="media user">
	<div class="media body">
		<table class="table table-borderless" th:each="item :${list}">
			<tr>
				<td colspan="2"><h4 th:text="${item.fullname}"></h4></td>
			</tr>
			<tr>
				<td style="width: 20%;">Nama Panggilan</td>
				<td th:text="${item.nickname}"
					style="font-weight: bold; color: #000066;"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td th:text="${item.email}"
					style="font-weight: bold; color: #000066;"></td>
			</tr>
			<tr>
				<td>No. Handphone</td>
				<td th:text="${item.phoneNumber1}"
					style="font-weight: bold; color: #000066;"></td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="btn-group pull-right">
						<button class="btn btn-sm btn-detail" th:value="${item.id}">
							<i class="fa fa-search" style="color: #000066;"></i>
						</button>
						<button class="btn btn-sm" th:value="${item.id}">
							<i class="fa fa-envelope" style="color: #000066;"></i>
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>









<!-- <tr th:each="item :${list}">
	<td th:text="${item.biodata.fullname}"></td>
	<td th:text="${item.biodata.nickname}"></td>
	<td th:text="${item.biodata.email}"></td>
	<td th:text="${item.biodata.phoneNumber1}"></td>
	<td th:text="${item.major}"></td>
	<td th:text="${item.schoolName}"></td>
	<td class="col-md-1">
		<button class="btn btn-xs btn-detail btn-success" th:value="${item.id}">
			<i class="fa fa-eye"></i>
		</button>		
		<button class="btn btn-xs btn-edit btn-warning" th:value="${item.id}">
			<i class="fa fa-envelope"></i>
		</button>
	</td>
</tr> -->