<html>
<head>
	<title>Form Siakad</title>
</head>
<body>
	<h2>Form Input Data Siakad</h2>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
	</style>
	<table>
		<th><button type="button"><a href="/fakultas/index">Fakultas</a></button></th>
		<th><button type="button"><a href="/jurusan/index">Jurusan</a></button></th>
		<th><button type="button"><a href="/matakuliah/index">Mata Kuliah</a></button></th>
		<th><button type="button"><a href="/mahasiswa/index">Mahasiswa</a></button></th>
		<th><button type="button"><a href="/dosen/index">Dosen</a></button></th>
		<th><button type="button"><a href="/kelas/index">Kelas</a></button></th>
		<th><button type="button"><a href="/kelasdetail/index">Kelas Detail</a></button></th>
		<th><button type="button"><a href="/bobotnilai/index">Bobot Nilai</a></button></th>
		<th><button type="button"><a href="/ruang/index">Ruang</a></button></th>
	</table>
</body>
</html>