<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header_app">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<style>
		.example-modal .modal {
    	 position: relative;
    	 top: auto;
   		 bottom: auto;
     	 right: auto;
  	   	 left: auto;
     	 display: block;
     	 z-index: 1;
   		}

   		.example-modal .modal {
     	 background: transparent !important;
   		}
 	</style>
 		<div class="wrapper">
 			<!-- header -->
 			<header th:replace="fragments/header :: header"></header>
 			<!-- sidebar -->
 			<aside th:replace="fragments/sidebar :: sidebar"></aside>
 		
 			<!-- Content Wrapper. Contains page content -->
 			<div class="content-wrapper">
 				<!-- Content Header (Page header) -->
 				<section class="content-header">
 					<h1>
 						Provinsi<small>Index</small>
 					</h1>
 					<ol class="breadcrumb">
 						<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
 						<li class="active">Provinsi</li>
 					</ol>
 				</section>
 				<!-- Main Content -->
 				<section class="content">
 					<div class="row">
 						<div class="col-md-12">
 							<!-- Content Mulai -->
 							<div class="box box-info box-solid">
 								<div class="box-header with-border">
 									<h3 class="box-title">List Provinsi</h3>
 									<div class="box-tools">
 										<button class="btn btn-info" id="btn-add">
 											<i class="fa fa-plus"></i>Add
 										</button>
 									</div>
 								</div>
 								<div class="box-body">
 									<table class="table">
 										<thead>
 											<tr>
 												<th>Id</th>
 												<th>Kode</th>
 												<th>Nama Provinsi</th>
 												<th>#</th>
 											</tr>
 										</thead>
 										<tbody id="list-data">
 											
 										</tbody>
 									</table>
 								</div>
 							</div>
 							<!-- Content Selesai -->
 						</div>
 					</div>
 				</section>
 			</div>
 			<!-- Footer -->
 			<div th:replace="fragments/footer :: footer"></div>
 		</div>
 		<!-- Script Javascript -->
 		<div th:replace="fragments/footer :: scripts"></div>
 		
 		<!-- Modal mulai -->
 		<div class="modal fade" id="modal-input">
 			<div class="modal-dialog">
 			</div>
 		</div>
 		<!-- Modal selesai -->
 		<script>
 			//funtion javascript
 			function loadData(){
 				//function JQuery
 				$.ajax({
 					url:'/provinsi/list',
 					type:'get',
 					dataType:'html',
 					success: function(result){
 						$("#list-data").html(result);
 					}
 				});
 			}
 			//function JQuery, pertama kali halamam di load
 			$(function(){
 				loadData();
 			});
 			
 			//event btn-add -> cari button dgn id btn-add
 			//event saat di klik
 			$("#btn-add").click(function(){
 				//request halaman dgn ajax
 				$.ajax({
 					url:'/provinsi/add',
 					type:'get',
 					dataType:'html',
 					success:function(result){
 						$("#modal-input").find(".modal-dialog").html(result);
 						//menampilkan modal dgn id modal-input
 						$("#modal-input").modal('show');
 					}
 				});
 			});
 			
 		// event di modal input, kemudian cari element denga id form-provinsi
 			// event ny adalah ketika form di submit
 			$("#modal-input").on("submit","#form-provinsi", function(){
 				// inisialisasi data
 				var dataForm = $(this).serialize()
 				// inisialisasi url
 				var urlForm = $(this).attr('action');
 				// submit data dengan AJAX
 				$.ajax({
 					url:urlForm,
 					type:'post',
 					data:dataForm,
 					dataType:'html',
 					done:function(){
 						$("#modal-input").find(".modal-dialog").html("");
 					},
 					success : function(result){
 						// masukan dulu result ke modal
 						$("#modal-input").find(".modal-dialog").html(result)
 						// check jumlah element yang memiliki class has-error
 						var check = $("#modal-input").find(".has-error").length;
 						// jika tidak ada error
 						if(check==0){
 							// menyembunyikan modal dengan id modal-input
 							$("#modal-input").modal('hide');
 							// tampilkan data dengan memanggil method loadData
 							loadData();
 						}
 					},
 				});
 				// mencegah submit automatis
 				return false;
 			});
 			
 			//menampilkan detail data
 			$("#list-data").on("click", ".btn-detail", function(){
 				var id=$(this).val();
 				//request halaman dgn ajax
 				$.ajax({
 					url:'/provinsi/detail/'+ id,
 					type:'get',
 					dataType:'html',
 					success:function(result){
 						$("#modal-input").find(".modal-dialog").html(result);
 						//menampilkan modal dgn id modal-input
 						$("#modal-input").modal('show');
 					}
 				});
 			});
 			
 			//menampilkan edit data
 			$("#list-data").on("click", ".btn-edit", function(){
 				var id=$(this).val();
 				//request halaman dgn ajax
 				$.ajax({
 					url:'/provinsi/edit/'+ id,
 					type:'get',
 					dataType:'html',
 					success:function(result){
 						$("#modal-input").find(".modal-dialog").html(result);
 						//menampilkan modal dgn id modal-input
 						$("#modal-input").modal('show');
 					}
 				});
 			});
 			
 			//memampilkan delete data
 			$("#list-data").on("click", ".btn-delete", function(){
 				var id=$(this).val();
 				//request halaman dgn ajax
 				$.ajax({
 					url:'/provinsi/delete/'+ id,
 					type:'get',
 					dataType:'html',
 					success:function(result){
 						$("#modal-input").find(".modal-dialog").html(result);
 						//menampilkan modal dgn id modal-input
 						$("#modal-input").modal('show');
 					}
 				});
 			});
 		</script>
</body>
</html>