<!DOCTYPE html>
<html>
	<head>
		<title>Biodata Diri</title>
	</head>
	<body>
		<style>
			table {
  			border: 2px solid black;
  			padding: 10px;
			}
		</style>
		<form>
		<table>
		<caption><h3>Biodata Diri</h3></caption>
			<tr>
				<td>Nama Lengkap</td>
				<td>:</td>
				<td><input type="text" name="nama"></td>
			</tr>
			<tr>
				<td>Alamat</td>
				<td>:</td>
				<td><textarea rows="3" cols="25"></textarea></td>
			</tr>
			<tr>
				<td>Jenis Kelamin</td>
				<td>:</td>
				<td><input type="radio" name="gender" value="Pria">Pria
					<input type="radio" name="gender" value="Wanita">Wanita</td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td>:</td>
				<td><input type="text" name="tempat"></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td>:</td>
				<td><input type="date" name="bday" max="2019-12-31"></td>
			</tr>
			<tr>
				<td>Agama</td>
				<td>:</td>
				<td>
				<select>
  				<option value="agama1">Islam</option>
  				<option value="agama2">Kristen Protestan</option>
  				<option value="agama3">Katolik</option>
  				<option value="agama4">Hindu</option>
  				<option value="agama5">Buddha</option>
  				<option value="agama6">Konghucu</option>
				</select>
				</td>
			<tr>
				<td>Pekerjaan</td>
				<td>:</td>
				<td><input type="text" name="pekerjaan">
			</tr>
			<tr>
				<td>Golongan Darah</td>
				<td>:</td>
				<td><input type="checkbox" value="gol1">A
					<input type="checkbox" value="gol2">B
					<input type="checkbox" value="gol3">AB
					<input type="checkbox" value="gol4">O</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td><input type="submit" value="Submit">
					<input type="reset" value="Reset"></td>
			</tr>				
		</table>
		</form>		
	</body>
</html>