<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header_app"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- HEADER -->
		<header th:replace="fragments/header :: header"></header>
		<!-- SIDEBAR -->
		<aside th:replace="fragments/sidebar :: sidebar"></aside>
		
		<!-- Content Wrapper, Content Page Content -->
		<div class="content-wrapper">
			<!-- Content Header (Page Header) -->
			<section class="content-header">
				<h1>Dashboard<small>Control Panel</small></h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>
			<!-- MAIN CONTENT -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
			</section>
		</div>
		<!-- FOOTER -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>