<html>
<head>
	<title>List Data Fakultas</title>
</head>
<body>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
	</style>
	<table>
		<caption><h2>List Data Fakultas</h2></caption>
		<thead>
			<tr>
				<th>Kode Fakultas</th>
				<th>Nama Fakultas</th>
				<th>Edit</th>
				<th>Hapus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "item:${fakultasList}">
				<td><span th:text = "${item.kdFakultas}"></span></td>
				<td><span th:text = "${item.nmFakultas}"></span></td>
				
				<td><a th:href = "@{edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href = "@{hapus/{id}(id=${item.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>