<html>
<head>
	<title>Form Siakad</title>
</head>
<body>
	<h2>Form Input Data Siakad</h2>
	<style>
		table {
			border: 1px solid black;
			padding: 20px
		}
	</style>
	<table>
		<th><button type="button"><a href="/fakultas/form">Fakultas</a></button></th>
		<th><button type="button"><a href="/jurusan/form">Jurusan</a></button></th>
		<th><button type="button"><a href="/matakuliah/form">Mata Kuliah</a></button></th>
		<th><button type="button"><a href="/mahasiswa/form">Mahasiswa</a></button></th>
		<th><button type="button"><a href="/dosen/form">Dosen</a></button></th>
		<th><button type="button"><a href="/kelas/form">Kelas</a></button></th>
		<th><button type="button"><a href="/kelasdetail/form">Kelas Detail</a></button></th>
		<th><button type="button"><a href="/bobotnilai">Bobot Nilai</a></button></th>
		<th><button type="button"><a href="/ruang">Ruang</a></button></th>
	</table>
</body>
</html>