<html>
<head>
	<title>List Data Mata Kuliah</title>
</head>
<body>
	<caption>List Data Mata Kuliah</caption>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
	</style>
	<table>
		<caption>Mata Kuliah</caption>
		<thead>
			<tr>
				<th>Kode Mata Kuliah</th>
				<th>Nama Mata Kuliah</th>
				<th>SKS</th>
				<th>Kode Jurusan</th>
				<th>Edit</th>
				<th>Hapus</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "item:${matakuliahList}">
			
			<td th:text = "${item.kdMatakuliah}"></td>
			<td th:text = "${item.nmMatakuliah}"></td>
			<td th:text = "${item.sks}"></td>
			<td th:text = "${item.jurusan.nmJurusan}"></td>
			
			<td><a th:href = "@{edit/{id}(id=${item.id})}">Edit</a></td>
			<td><a th:href = "@{hapus/{id}(id=${item.id})}">Hapus</a></td>
			
			</tr>
		</tbody>
	</table>
</body>
</html>